body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #E6CCA6 url(../images/bg.jpg) repeat;
}

a {
  color: #00B7FF;
}

* {
  margin: 0;
  padding: 0;
}

#main {
  -webkit-column-width: 202px;
  -moz-column-width: 202px;
}

.box {
  padding: 15px 0 0 15px;
  float: left;
}

.pic {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  background: white;
}

.pic img {
  width: 165px;
  height: auto;
}