<style>
    ul {
        color: red;
    }

    li {
    }
    #must-buy {
        color: blue;
    }
</style>

<ul class="shopping-list" id="awesome">
    <li>
        <span>Milk</span>
    </li>
    <li class="favorite" id="must-buy">
        <span class="highlight">Sausage</span>
    </li>
</ul>