
  <body>

    <div class="container">
      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h2>Front-End Exercise</h2>
          <p>这是我的前端练习本。</p>
          <p><a href="/posts" class="btn btn-primary" role="button">
            大航海时代
          </a></p>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h2>Waterfall Exercise</h2>
          <p>用不同方式实现瀑布流</p>
            <span>
              <a class="btn btn-success" href="/waterfall_1" role="button">Waterfall with JS</a>
            </span>
            <span>
            <a class="btn btn-info" href="/waterfall_2" role="button">Waterfall with JQuery</a>
            </span>
            <span>
              <a class="btn btn-primary" href="/waterfall_3" role="button">Waterfall with CSS</a>
            </span>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-2">
        <div class="jumbotron">
          <h2>Front-End Test</h2>
          <p>用不同方式实现瀑布流</p>
            <span>
              <a class="btn btn-success" href="/css-test" role="button">CSS-TEST</a>
            </span>
        </div>
      </div>
      
    </div>
    
  </body>
